.navbar ul{
    display: inline-block;
    vertical-align: top;
}

.header{
    background: rgb(81, 46, 236);
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;

}

.inline-block{
    width: 80%;
    margin: 0% auto;
}

.nav{
    display: flex;
    width: 73%;
    padding: 1%;
}

.ul{
    display: center;
    width: 50%;
    margin-left: auto;
    list-style: none;


}

.inline-block {
    display: inline-block;
    margin-left: 70px;
}

.herolmg{
    height : 600%;
    padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}

.footer{
    background-color: #373738;
    padding: 1%;
    
    
 }

 .footer ul{
     display: inline-block;
     vertical-align: top;
     padding: 1%;

 }